.addRow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.button:hover,
.button:focus {
    color: #f50057;
}

.formContent {
    padding: 0rem 0rem 2rem;
}
