.pageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pageHeader {
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.pageContent {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.createRaceContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-grow: 1;
  padding: 0 2rem 0 0;
}

.extraFormContent {
  display: flex;
  padding-top: 0.5rem;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.raceCardContainer {
  flex-grow: 1;
  display: flex;
  margin: 1rem 0rem;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #00000026;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
