.header {
    display: flex;
    align-items: center;
    width: 100%;
}

button {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

button:hover,
button:focus {
    text-decoration: underline;
}
